<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= item[:title] %> &middot; Sam Starling</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta name="google-site-verification" content="H_FiFYlDsR8MHqDJL9fFo06j_h0Wj4gzfTvxrFYTBYg" />
  </head>
  <body>
    <div id="main">
      <p><a href="/">&larr; Home</a></p>
      <div class="PostHeading">
        <h1 class="PostHeading--title"><%= item[:title] %></h1>
        <div class="PostHeading--date"><%= friendly_date_for(item) %></div>
      </div>
      <%= yield %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109282190-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-109282190-1');
      </script>
    </div>
  </body>
</html>
